*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Lato", sans-serif;
}
#title{
    height: 40px;
    font-size: 4em;
    text-align: left;
    color: #111111;
    position: relative;
    padding: 10px;
    left: 10px;
}

.dashboard{
    position: absolute;
    right: 10px;
    font-size: 40px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.content{

    width: 100%;
    padding-top: 10px;
    position: relative;
    margin-top: 10%;
    margin-left: 5%;
}

.content_title{
    border: solid;
    background-color: #5a5a5a;
    color: #ffffff;
    width: 90%;
}

#content1{
    top: 150px
}


#RyeTittle{
    font-size: 30px;
}