*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightskyblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: cornflowerblue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.dashboard {
    float: right;
    position: absolute;
    /*//transition: margin-left .5s;*/
    right: 10px;
    padding: 10px;
    font-size: 40px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.header{
    background-color: cornflowerblue;
    height: 35px;
    font-size: 30px;
    text-align: center;
    color:lightcyan;
    position: relative;
    padding: 10px;
}

.dashboard{
    width: 15%;
    font-size: 30px;
    color: #111111;
    position: absolute;
    top: 10%;

}

#map {
    height: 50%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.controls {
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 30px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

}


#origin-input,
#destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 300;
    margin-left: 5px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 180px;
}

#origin-input:focus,
#destination-input:focus {
    border-color: #4d90fe;
}

#mode-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 10px 11px 0px 11px;

}

#mode-selector label {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 300;
}

#map {
    height: 100%;
}
#MapTitle{
    font-size: 30px;
    margin-left: 45%;
}