*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightskyblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: cornflowerblue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.dashboard {
    float: right;
    position: absolute;
    /*//transition: margin-left .5s;*/
    right: 10px;
    padding: 10px;
    font-size: 40px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.header{
    background-color: cornflowerblue;
    height: 80px;
    font-size: 50px;
    text-align: center;
    color:lightcyan;
    position: relative;
    padding: 10px;
    width: 100%;
    /*left: 10px;*/
}
@media (min-width:575px){
    .header{
        background: lightskyblue;
    }
}
@media (min-width:768px){
    .header{
        background: lightblue;
    }
}
@media (min-width:992px){
    .header{
        background: cornflowerblue;
    }
}
@media (min-width:1200px){
    .header{
        background: dodgerblue;
    }
}

.dashboard{
    position: absolute;
    right: 10px;
    font-size: 40px;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.header{
    background-color: cornflowerblue;
    height: 100%;
    font-size: 50px;
    text-align: center;
    color:lightcyan;
    position: relative;
    padding: 10px;
    /*left: 10px;*/
}
@media (min-width:575px){
    .header{
        background: lightskyblue;
    }
}
@media (min-width:768px){
    .header{
        background: lightblue;
    }
}
@media (min-width:992px){
    .header{
        background: cornflowerblue;
    }
}
@media (min-width:1200px){
    .header{
        background: dodgerblue;
    }
}

#shopTitle{
    font-family: "Al Nile";
    font-size: 40px;
    color: aqua;
}

#shopMap{
    width:75%;
    height:400px;
    margin-left: 12.5%;
    border: #f1f1f1 5px solid;
}
.shopImage{
    width: 200px;
    height: 180px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px gray ;

}

.dropdown {
    position: relative;
    display: inline-block;
    border: #111111 1px solid;
    border-radius: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    font-size: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.shopName{
    background-color: aqua;
    width:60%;
}

.shopPostCode{
    margin-left: 30px;
}

#subtitle{
    position: absolute;
    font-size: 35px;
    /*top: 10%;*/
}

#shopTableTop{
    margin-left: 5%;
    margin-top: 10%;
    width: 80%;
}

#shopTableMiddle{
    margin-left: 5%;
    width: 80%;
}