*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

img{
    width: 200px;
    height: 200px;
}

.shopImage{
    width: 200px;
    height: 200px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px gray ;

}

.shopName{
    background-color: aqua;
    width: fit-content;
}

.shopPostCode{
    margin-left: 30px;
}

.btn{
    border-radius: 5px;
    color: #b3d7ff;
    width: 150px;
    height: 40px;
}

.shop{
    background-color: #ffffff;
    min-height: 400px;
    min-width: 250px;
    border: solid 1px rgb(230,230,230);
    border-radius: 5px 5px 5px 5px ;
    padding-left: 10px;
    padding-top: 10px;
}

.shop p{
    text-align: center;
    font-size: 0.9em;
    background-color: #ffdf7e;
    color: #FFFFFF;
    padding: 2px 0 2px 0;
    margin-right: 10px;
}

.shop ul{
    padding-left: 10px;
}

.panel .shop:hover{
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75)
}

#shopTitle{
    font-family: "Al Nile";
    font-size: 30px;
    color: aqua;
}

#RyeTittle{
    margin-top: 0;
    height: 60px;
    font-size: 30px;
    text-align: left;
    color: #111111;
    position: relative;
    background-color: #00bcd4;
}